@import "react-responsive-carousel/lib/styles/carousel.min.css";

:root {
  --nav-bar-height: 4rem;
  --carousel-height: calc(100vh - var(--nav-bar-height));
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
}

.top-bar {
  height: var(--nav-bar-height);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: relative;
  box-shadow: 0px 4px 4px black;
  z-index: 1;
}

.contact-button {
  border: 0;
  background: linear-gradient(25deg, #FF4437, #241490);
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  box-shadow: 0px 0px 5px #FF4437;
  cursor: pointer;
  transition: transform 200ms;
  font-weight: 700;
}

.contact-button:hover {
  transform: translateY(-1px) scale(1.02);
}

.contact-button:active {
  transform: translateY(1px) scale(1.02);
}

.project-image-carousel {
  height: var(--carousel-height);
  padding-bottom: 1rem;
}

.project-image {
  height: var(--carousel-height);
}
