@import "react-responsive-carousel/lib/styles/carousel.min.css";

:root {
  --nav-bar-height: 12rem;
  --carousel-height: calc(100vh - var(--nav-bar-height));
}

@screen md {
  :root {
    --nav-bar-height: 8rem;
  }
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @apply m-0;
}

.top-bar {
  height: var(--nav-bar-height);
}

.project-image-carousel {
  height: var(--carousel-height);
  padding-bottom: 1rem;
}

.project-image {
  height: var(--carousel-height);
}
